<section class="hb-app-footer">
  <footer class="container">
    <div class="left-part">
      <a href="https://www.linkedin.com/company/respect/" target="_blank">
        <div [inlineSVG]="'assets/img/footer/in.svg'" class="soc-ico"></div>
      </a>
      <a href="https://www.youtube.com/channel/UCxqJd7Sv6VDivvM-aTc9x6w" target="_blank">
        <div [inlineSVG]="'assets/img/footer/yt.svg'" class="soc-ico"></div>
      </a>
      <a href="https://www.instagram.com/respect_pojistovaci_makler/" target="_blank">
        <div [inlineSVG]="'assets/img/footer/is.svg'" class="soc-ico"></div>
      </a>
      <a href="https://www.facebook.com/respect.cz/" target="_blank">
        <div [inlineSVG]="'assets/img/footer/fb.svg'" class="soc-ico"></div>
      </a>
    </div>
    <div class="right-part">
      <div class="text-14 text-white">© 2026 RESPECT</div>
      <div class="text-14 text-white">
        Webová stránka je vytvořena a poskytována
        <a href="https://www.educasoft.cz/" target="_blank">Educasoft Solutions s.r.o.</a>
      </div>
      <div class="text-14 text-white"><a routerLink="/pages/contacts">Kontakt na technickou podporu</a></div>
    </div>
  </footer>
</section>
