@if (currentLang === 'cs') {
  <div class="contact-page container">
    <h2 class="text-blue mb-5">Kontakt</h2>
    <div class="row g-0 mb-5">
      <div class="col-12">
        <p>
          V případě potíží s registrací či přihlášením
          <br />
          na portálu nás kontaktujte na
          <br />
          <a href="mailto:info@educasoft.cz">info&#64;educasoft.cz</a>
          .
        </p>
      </div>
    </div>
  </div>
}

@if (currentLang === 'en') {
  <div class="contact-page container">
    <h2 class="text-blue mb-5">Contact</h2>
    <div class="row g-0 mb-5">
      <div class="col-12">
        <p>
          In case of difficulties with registration, login process or courses,
          <br />
          please let us know here
          <br />
          <a href="mailto:info@educasoft.cz">info&#64;educasoft.cz</a>
          .
        </p>
      </div>
    </div>
  </div>
}
