:host {
  display: block;
}
.help-page {
  max-width: 800px;
  margin: 50px auto;
  padding: 0 16px;

  h1 {
    margin-bottom: 20px;
  }

  .intro-text {
    margin-bottom: 50px;
  }

  .help-block {
    margin-bottom: 40px;
  }
}
