<!-- ------------------------------------------------ -->
<!-- -------------------- ROBERT -------------------- -->
<!-- ------------------------------------------------ -->
@if (name === 'robert') {
  <div class="modal-body modal-person-detail">
    @if (lang === 'cs') {
      <div>
        <div class="d-flex justify-content-center mb-4">
          <img src="../../../../assets/img/team/mikulik_r.jpg" class="person-img rounded-circle" />
        </div>
        <div class="hb-subtitle text-violet mb-5 text-center">
          Robert se již 20 let angažuje ve zvyšování povědomí o mozkové mrtvici,<br>i proto je garantem a duchovním otcem
          programu HOBIT.
        </div>
        <h3>Background</h3>
        <div class="hb-normal mt-4 mb-4">
          Robert Mikulík je neurolog se zaměřením na cévní neurologii a především na mozkové příhody. Je vedoucím
          Komplexního
          cerebrovaskulárního centra FN u sv. Anny v Brně a zároveň vedoucím Cerebrovaskulárního výzkumného týmu
          Mezinárodního
          centra klinického výzkumu (FNUSA-ICRC). Během své práce neurologa se zabývá i pedagogickou činností na Lékařské
          fakultě Masarykovy univerzity v Brně.
        </div>
        <div class="hb-normal mb-4">
          Pod jeho vedením vzniká registr kvality iktové péče RES-Q (www.qualityregistry.eu), a je iniciátor a hlavní
          řešitel
          projektu ESO-EAST s cílem zlepšení iktové péče v 23 zemích Východní Evropy a Střední Asie. Inicioval a podílí se
          na
          několika výzkumných projektech pro vývoj nových léčebných a diagnostických metod CMP. Věnuje se také simulační
          medicíně, v roce 2017 byl jmenován členem komise pro simulační trénink ESO.
        </div>
        <div class="hb-normal mb-5">
          Je členem mnoha národních i mezinárodních organizací se zaměřením na cévní neurologii - ESO, ESO-EAST, WSO, ČLS
          JEP, CHS aj.
        </div>
        <h3>Zaměření</h3>
        <ul class="hb-normal hb-list mt-4 mb-5">
          <li>cévní neurologie,</li>
          <li>simulační medicína,</li>
          <li>specializace v simulacích pro cévní mozkovou příhodu,</li>
          <li>vědecko-výzkumná činnost,</li>
          <li>diagnostika a včasná léčba CMP,</li>
          <li>zvyšování povědomí o CMP,</li>
          <li>předsednictví mezinárodních a národních kongresů.</li>
        </ul>
        <h3>Ocenění vědeckou komunitou</h3>
        <div class="hb-normal mt-4 mb-5">
          Prof. Mikulík byl v květnu 2017, během konání Konference Evropské iktové organizace, oceněn za svůj přínos péči o
          cévní mozkové příhody cenou “Spirit of Excellence”. Cenu získal za své dlouholeté a úspěšné aktivity v oblasti
          organizace péče o cévní mozkové příhody a jejich léčby na národní i mezinárodní úrovni.
        </div>
        <h3>Publikace</h3>
        <div class="hb-normal mt-4 mb-5">
          Pročtěte si publikace prof. Mikulíka na jeho profilu ResearchGate.
        </div>
      </div>
    }
    @if (lang !== 'cs') {
      <div>
        <div class="d-flex justify-content-center mb-4">
          <img src="../../../../assets/img/team/mikulik_r.jpg" class="person-img rounded-circle" />
        </div>
        <h3>Background</h3>
        <div class="hb-normal mt-4 mb-4">
          Robert Mikulik is a neurologist with a focus on vascular neurology and especially on strokes. He is Head of the
          Complex Cerebrovascular Center at St. Anne's University hospital and at the same time is the head of
          Cerebrovascular Research Team of the International Clinical Research Center (FNUSA-ICRC). During his work he also
          deals with pedagogical activities at the Faculty of Medicine of Masaryk University in Brno.
        </div>
        <div class="hb-normal mb-4">
          Under his leadership is formed a quality registry of RES-Q (www.qualityregistry.eu), which is already used by over
          260 hospitals in 28 countries. He is the initiator and principal investigator of the ESO-EAST project, whose
          purpose is to improve stroke care in 23 countries of Eastern Europe and Central Asia. He has initiated and he is
          participating in several research projects for the development of new therapeutic and diagnostic methods of
          stroke. He also deals with simulation medicine; in 2017 he was appointed as a member of the ESO simulation
          training committee. Last but not least, he has been involved in raising stroke awareness for over 20 years, and is
          therefore the guarantor of the HOBIT programme.
        </div>
        <div class="hb-normal mb-5">
          He is a member of many national and international organizations focusing on vascular neurology - ESO, ESO-EAST,
          WSO, CLS JEP, CHS, etc.
        </div>
        <h3>Focus</h3>
        <ul class="hb-normal hb-list mt-4 mb-5">
          <li>vascular neurology,</li>
          <li>simulation medicine,</li>
          <li>specialization in stroke simulations,</li>
          <li>research,</li>
          <li>diagnosis and timely treatment of stroke,</li>
          <li>stroke awareness,</li>
          <li>presidency of national and international congresses.</li>
        </ul>
        <h3>Awards</h3>
        <div class="hb-normal mt-4 mb-5">
          Prof. Mikulik was awarded by „Spirit of Excellence“ in May 2017, during the Conference of the European Stroke
          Organization, for his contribution in a stroke care. He won the award for his long-term and successful activities
          in the field of organization of stroke care and treatment at national and international level.
        </div>
        <h3>Publication</h3>
        <div class="hb-normal mt-4 mb-5">
          Follow Robert's publication on his Research Gate profile.
        </div>
      </div>
    }
  </div>
}

<!-- ------------------------------------------------ -->
<!-- --------------------- HANKA -------------------- -->
<!-- ------------------------------------------------ -->
@if (name === 'hana') {
  <div class="modal-body modal-person-detail">
    @if (lang === 'cs') {
      <div>
        <div class="d-flex justify-content-center mb-4">
          <img src="../../../../assets/img/team/marsalkova_h.jpg" class="person-img rounded-circle" />
        </div>
        <h3>Background</h3>
        <div class="hb-normal mt-4 mb-4">
          Hanka se vzděláváním o mozkové mrtvici věnuje již od svých středoškolských let, kdy provedla průzkum o povědomí o
          mrtvici mezi školáky. Vystudovala magisterský obor Business Economics and Management na Mendelově Univerzitě v
          Brně. V roce 2015 absolvovala stáž na arizonské Mayo Clinic a ve stejném roce získala mezinárodní certifikát
          projektového managementu (IPMA). V roce 2017 absolvovala rekvalifikační kurz Zdravotník zotavovacích akcí. Hanka
          byla 3x porotkyní krajského kola SOČ v oboru zdravotnictví.
        </div>
        <div class="hb-normal mb-4">
          Díky nadačnímu grantu, který získala, je neurologická klinika FNUSA vyzdobena 4 dřevěnými sochami, které vytváří
          příjemné prostředí pro pacienty i personál. Hanka je také členkou dobrovolnického centra FNUSA (DobroCentrum).
        </div>
        <h3>Zaměření</h3>
        <ul class="hb-normal hb-list mt-4 mb-5">
          <li>prevence CMP,</li>
          <li>marketing zdraví,</li>
          <li>kampaně a event management,</li>
          <li>projektový management,</li>
          <li>PR, marketing a branding,</li>
          <li>networking.</li>
        </ul>
        <h3>Publikace</h3>
        <div class="hb-normal mt-4 mb-5">
          VOLNÝ, Ondřej a Hana POKORNÁ. Průvodce cévní mozkovou příhodou pro pacienta a rodinu. Brno: Fakultní nemocnice u
          sv. Anny v Brně, 2016. ISBN 978-80-906616-0-8.
        </div>
      </div>
    }
    @if (lang !== 'cs') {
      <div>
        <div class="d-flex justify-content-center mb-4">
          <img src="../../../../assets/img/team/marsalkova_h.jpg" class="person-img rounded-circle" />
        </div>
        <h3>Background</h3>
        <div class="hb-normal mt-4 mb-4">
          Hana has been cooperating with the Stroke team since her studies at high school, when she has conducted a survey
          about the awareness of stroke among schoolchildren. She graduated from a master field of study Business Economics
          and Management at Mendel University in Brno. In 2015 she completed an internship on Mayo Clinic in Arizona and in
          the same year she has obtained an international certificate of project management (IPMA). In 2017 she has
          completed a program of voluntary paramedics.
        </div>
        <div class="hb-normal mb-4">
          Thanks to the foundation grant that she has gained, the neurology department is decorated by 4 wooden sculptures
          that create more pleasant environment for patients and the stuff. Hana is a member of Voluntary centre in St.
          Anne's University Hospital Brno (DobroCentrum).
        </div>
        <h3>Focus</h3>
        <ul class="hb-normal hb-list mt-4 mb-5">
          <li>stroke prevention,</li>
          <li>health marketing,</li>
          <li>campaigns and event management,</li>
          <li>project management,</li>
          <li>PR, marketing and branding,</li>
          <li>networking.</li>
        </ul>
        <h3>Publication</h3>
        <div class="hb-normal mt-4 mb-5">
          VOLNÝ, Ondřej a Hana POKORNÁ. Průvodce cévní mozkovou příhodou pro pacienta a rodinu. Brno: Fakultní nemocnice u
          sv. Anny v Brně, 2016. ISBN 978-80-906616-0-8.
        </div>
      </div>
    }
  </div>
}

<!-- ------------------------------------------------ -->
<!-- ------------------- VERONIKA ------------------- -->
<!-- ------------------------------------------------ -->
@if (name === 'veronika') {
  <div class="modal-body modal-person-detail">
    @if (lang === 'cs') {
      <div>
        <div class="d-flex justify-content-center mb-4">
          <img src="../../../../assets/img/team/svobodova_v.jpg" class="person-img rounded-circle" />
        </div>
        <h3>Background</h3>
        <div class="hb-normal mt-4 mb-4">
          Veronika pracuje jako Výzkumný manažer Cerebrovaskulárního výzkumného programu Fakultní nemocnice u sv. Anny v
          Brně. Získala zkušenosti v oblasti projektového managementu, ekonomie, grantů a managementu výzkumu. Má 12 letou
          praxi jako grantový specialista. Mezi lety 2011 a 2012 vybudovala Grantové oddělení pro ICRC a získala granty ve
          výši 20 milionů Euro.
        </div>
        <div class="hb-normal mb-4">
          Více než 6 let se věnuje simulační medicíně. Založila simulační centrum Fakultní nemocnice u sv. Anny v Brně pro
          komunikaci a ošetřovatelské dovednosti a také je organizátorkou České multidisciplinární simulační konference. Na
          základě této expertízy vyvinula simulační program pro cévní mozkovou příhodu, který nyní vede.
        </div>
        <div class="hb-normal mb-4">
          V roce 2015 se Veronika stala manažerkou projektu ESO-EAST a je členkou Řídícího výboru ESO-EAST. Veronika svými
          přednáškami a kurzy přispěla na mezinárodních i tuzemských iktových a simulačních konferencích. Je členkou Local
          Committee konference ESOC 2017 a v 2017 byla jmenována jako členka komise pro simulační trénink ESO. V roce 2017
          absolvovala rekvalifikační kurz Zdravotník zotavovacích akcí.
        </div>
        <h3>Zaměření</h3>
        <ul class="hb-normal hb-list mt-4 mb-5">
          <li>management výzkumu,</li>
          <li>simulační medicína,</li>
          <li>specializace v simulacích pro cévní mozkovou příhodu,</li>
          <li>funding,</li>
          <li>projektový a event management,</li>
          <li>networking,</li>
          <li>veřejné zdraví a politika zdraví.</li>
        </ul>
      </div>
    }
    @if (lang !== 'cs') {
      <div>
        <div class="d-flex justify-content-center mb-4">
          <img src="../../../../assets/img/team/svobodova_v.jpg" class="person-img rounded-circle" />
        </div>
        <h3>Background</h3>
        <div class="hb-normal mt-4 mb-4">
          Veronika works as a Research Manager of Stroke Research Program at St. Anne’s University Hospital Brno. Her
          background is project management, economy, grants writing and research management. She has 12 years experience as
          a grant specialist. Between 2011 and 2015 she built Grant Department for the International Clinical Research
          Center (research unit within St. Anne’s University Hospital) and obtained grants in amount of 20 million Euro.
        </div>
        <div class="hb-normal mb-4">
          She has been engaged for 6 years in simulation medicine. She established a simulation center for communication and
          nursing skills in St. Anne’s University Hospital Brno and also she is a organizer of Czech Multidisciplinary
          Simulation Conference. Using this expertise, in 2016 she started to develop simulation programs for stroke, which
          she manages now.
        </div>
        <div class="hb-normal mb-4">
          In 2015 Veronika became a Manager of the ESO-EAST Project and member of ESO-EAST Steering Committee. Veronika
          contributed with lectures and teaching courses in international and national stroke and simulation conferences.
          She is a member of the ESOC 2017 Local Committee and in 2017 she was appointed as a member of ESO Simulation
          Training Committee. In 2017 she has completed a program of voluntary paramedics.
        </div>
        <h3>Focus</h3>
        <ul class="hb-normal hb-list mt-4 mb-5">
          <li>reserach management,</li>
          <li>simulation medicine,</li>
          <li>specialization in simulations in stroke,</li>
          <li>funding,</li>
          <li>project and event management,</li>
          <li>networking,</li>
          <li>public health and health policy.</li>
        </ul>
      </div>
    }
  </div>
}

<!-- ------------------------------------------------ -->
<!-- ---------------------- JAN --------------------- -->
<!-- ------------------------------------------------ -->
@if (name === 'jan') {
  <div class="modal-body modal-person-detail">
    @if (lang === 'cs') {
      <div>
        <div class="d-flex justify-content-center mb-4">
          <img src="../../../../assets/img/team/bobek_j.jpg" class="person-img rounded-circle" />
        </div>
        <h3>Background</h3>
        <div class="hb-normal mt-4 mb-4">
          Honza přišel do našeho týmu z Akademie věd a Veterinární a farmaceutické univerzity v Brně, kde vyučoval
          fyziologii. V roce 2019 získal doktorát z Buněčné, molekulární biologie a genetiky na Masarykově Univerzitě. V
          současnosti se kromě výzkumu a koordinace projektu HOBIT zabývá i tvorbou videí a psaním článků o zajímavých
          historických osobnostech.
        </div>
        <div class="hb-normal mb-4">
          Honza je Vaším hlavním partnerem pro řešení technických problémů. Je také kontaktní osobou pro Vaše návrhy, nápady
          a připomínky a rád vám odpoví na e-mailovou i telefonickou komunikaci.
        </div>
        <h3>Zaměření</h3>
        <ul class="hb-normal hb-list mt-4 mb-5">
          <li>koordinace programu HOBIT,</li>
          <li>vědecko-výzkumná činnost,</li>
          <li>veřejné zdraví a zdravotní politika,</li>
          <li>zvyšování povědomí o CMP,</li>
          <li>PR programu, videa, sociální sítě.</li>
        </ul>
      </div>
    }
    @if (lang !== 'cs') {
      <div>
        <div class="d-flex justify-content-center mb-4">
          <img src="../../../../assets/img/team/bobek_j.jpg" class="person-img rounded-circle" />
        </div>
        <h3>Background</h3>
        <div class="hb-normal mt-4 mb-4">
          Honza came to our team from the Czech Academy of Sciences and The University of Veterinary and Pharmaceutical
          Sciences, Brno. He holds a PhD title in cellular and molecular biology and genetics from the Masaryk University.
          He is currently engaged in research and coordination of the HOBIT programm and likes to create videos and write
          articles about interesting historical personalities.
        </div>
        <div class="hb-normal mb-4">
          Honza is your main partner for solution of technical problems. He is also our contact for your questions and
          proposals involving the HOBIT programm.
        </div>
        <h3>Focus</h3>
        <ul class="hb-normal hb-list mt-4 mb-5">
          <li>coordination of HOBIT, </li>
          <li>scientific research,</li>
          <li>public health and health politics, </li>
          <li>stroke awarness,</li>
          <li>PR, videos, social networks.</li>
        </ul>
      </div>
    }
  </div>
}
<div class="modal-footer">
  <button type="button" class="btn btn-primary" (click)="activeModal.close('OK')" translate="GENERAL_CLOSE"></button>
</div>