<!-- <div class="container cookies-page" *ngIf="currentLang === 'cs'"> -->
<div class="container cookies-page">
  <h2 class="text-blue mb-5">Cookies</h2>
  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">1. Co je to Cookies?</h3>
      <p>
        Cookies jsou malé datové soubory, které naše webové stránky
        <a href="https://www.hrave.cz" target="_blank">www.hrave.cz</a>
        ,
        <a href="https://www.iTrivio.cz" target="_blank">www.iTrivio.cz</a>
        ,
        <a href="https://www.educasoft.cz" target="_blank">www.educasoft.cz</a>
        ,
        <a href="https://educasoft.competent.cz" target="_blank">educasoft.competent.cz</a>
        pošlou prohlížeči, který je uloží na počítači. Každá z cookies má svůj název a nese určitou informaci, jako například čas a datum, kdy jste web navštívili, z jakého prohlížeče jste na web
        přišli a podobně. Slouží ke zvyšování kvality našich služeb a personalizaci nabídky.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">2. Proč Cookies, musím je mít?</h3>
      <p>
        Ano i ne, existuje několik druhů cookies. K některým je vyžadován souhlas, to asi znáte, otravná lišta, na kterou “musíte” kliknout, aby zmizela, nebo malinký čtvereček, který se musí
        zaškrtnout atd. Jde o cookies, ke kterým je dle GDPR potřebný váš aktivní souhlas. Jde o marketingové nebo analytické cookies.
      </p>
      <p>
        Pak jsou tady tzv. technické cookies (ty využíváme), k těm není potřeba souhlasu, protože bez nich by web nevypadal a neumožňoval to, co umožňuje teď. Takže za tyto cookies můžeme být rádi.
        Při další návštěvě téhož serveru (webových stránek) pak prohlížeč tato data posílá zpět serveru. Cookies se dají v prohlížeči uživatelem smazat.
      </p>
      <p>Každá cookie má svůj název a hodnotu, dále nese informaci, pro kterou doménu platí, dobu platnosti (respektive čas, kdy hodnota vyprší), apod.</p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">3. A co cookies a moje bezpečí?</h3>
      <p>
        Cookies nejsou pro počítač žádnou hrozbou, ale dotýkají se ochrany soukromí uživatele, protože díky nim si navštívená webová stránka ukládá informace o vašich preferencích a zvyklostech (jako
        jsou např.: co zadáváte do vyhledání, v jakém jazyce, jak často danou stránku navštěvujete, kolik času na ní strávíte, apod.). To jsou vaše osobní informace, se kterými nakládáme podle zákona
        a Nařízení Evropského parlamentu a Rady (EU) 2016/679 ze dne 27. dubna 2016 o ochraně fyzických osob v souvislosti se zpracováním osobních údajů a o volném pohybu těchto údajů a o zrušení
        směrnice 95/46/ES (obecné nařízení o ochraně osobních údajů) (Text s významem pro EHP) i s obchodními podmínkami. Záleží nám na tom, abyste se při návštěvě našich stránek cítili bezpečně a
        naprosto respektujeme soukromí každého jednotlivce.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">4. Co když tomu stejně nerozumím?</h3>
      <p>
        Jsme tady pro Vás, neváhejte nás kontaktovat na
        <a href="mailto:info@educasoft.cz">info&#64;educasoft.cz</a>
        nebo telefonicky na tel č. 734 441 201.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">5. Prohlášení k souborům cookies</h3>
      <p>
        Stránka
        <a href="https://educasoft.competent.cz" target="_blank">educasoft.competent.cz</a>
        používá pro poskytování své webové služby soubory cookies. Používáním stránek souhlasí uživatel s ukládáním souborů cookies na svůj počítač. Více o tom, co to jsou soubory cookies si můžete
        přečíst
        <a href="http://cs.wikipedia.org/wiki/HTTP_cookie" target="_blank">zde</a>
        .
      </p>
      <p>
        Uživatel může používání cookies ve svém prohlížeči zakázat. Je si však vědom skutečnosti, že tyto soubory jsou důležité pro komfortní užití služby a zakázání těchto souborů povede k tomu, že
        některé funkce webové stránky Educasoftu nebude možné využívat.
      </p>
      <p>
        Tato stránka používá službu Google Analytics, poskytovanou společností Google, Inc. Služba Google Analytics využívá soubory cookies pro analýzu způsobu užívání této stránky jejími uživateli.
        Poskytovatel využívá výsledků analýz zejména pro zkvalitnění služby educasoft.cz.
      </p>
      <p>
        Uživatel si je vědom skutečnosti, že informace vytvořené souborem cookie, včetně jeho IP adresy, budou společností Google přeneseny a uloženy na serverech ve Spojených státech amerických. Více
        informací o tom, jakým způsobem společnost Google s informacemi ze souborů cookies nakládá, si můžete přečíst
        <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage" target="_blank">zde</a>
        .
      </p>
    </div>
  </div>
</div>
