@if (currentLang === 'cs') {
  <div class="container partners-page">
    <h2 class="text-blue mb-4">Doporučené zdroje</h2>
    <div class="text-20 mb-5">Zde najdete další zdroje ke studiu.</div>
    <div class="row g-0 mb-5">
      <div class="col-12 mb-4">
        <a href="https://google.com">Externí stránka se studijními materiály ke stažení</a>
        <p>Popis co je na stránce k nalezeni, v jakém okamžiku studia by měl uživatel tento zdroj využít, případné další info k tomuto odkazu.</p>
      </div>
      <div class="col-12 mb-4">
        <a href="https://google.com">Vivamus ac leo pretium faucibus</a>
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      </div>
      <div class="col-12 mb-4">
        <a href="https://google.com">Fusce dui leo</a>
        <p>Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Ut tempus purus at lorem.</p>
      </div>
      <div class="col-12 mb-4">
        <a href="https://google.com">Etiam ligula pede, sagittis quis</a>
        <p>Sed ac dolor sit amet purus malesuada congue. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo.</p>
      </div>
      <div class="col-12 mb-4">
        <a href="https://google.com">Proin pede metus</a>
        <p>
          Maecenas aliquet accumsan leo. Donec quis nibh at felis congue commodo. Donec iaculis gravida nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          hymenaeos.
        </p>
      </div>
    </div>
  </div>
}

@if (currentLang === 'cs') {
  <div class="partners-page-bottom">
    <div class="container">
      <div class="row g-0">
        <div class="col-12 text-center">
          <img [src]="'assets/img/partners/mail.png'" class="mb-5" />
          <h2 class="text-white mb-5">Chcete dát uživatelům možnost zpětné vazby na Vaše vzdělávání? Vytvořte si například Google formulář a zjistěte, jak se jim s tímto portálem pracuje.</h2>
          <a class="btn btn-secondary">Ohodnotit vzdělávání</a>
        </div>
      </div>
    </div>
  </div>
}

@if (currentLang === 'en') {
  <div class="container partners-page">
    <h2 class="text-blue mb-4">Recommended resources</h2>
    <div class="text-20 mb-5">Here are some additional reources, you can use for your education.</div>
    <div class="row g-0 mb-5">
      <div class="col-12 mb-4">
        <a href="https://google.com">Exteral page with education resources to download</a>
        <p>Information what can users find on the page, when to use the resources and other information related to this site.</p>
      </div>
      <div class="col-12 mb-4">
        <a href="https://google.com">Vivamus ac leo pretium faucibus</a>
        <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus.</p>
      </div>
      <div class="col-12 mb-4">
        <a href="https://google.com">Fusce dui leo</a>
        <p>Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Ut tempus purus at lorem.</p>
      </div>
      <div class="col-12 mb-4">
        <a href="https://google.com">Etiam ligula pede, sagittis quis</a>
        <p>Sed ac dolor sit amet purus malesuada congue. Proin pede metus, vulputate nec, fermentum fringilla, vehicula vitae, justo.</p>
      </div>
      <div class="col-12 mb-4">
        <a href="https://google.com">Proin pede metus</a>
        <p>
          Maecenas aliquet accumsan leo. Donec quis nibh at felis congue commodo. Donec iaculis gravida nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
          hymenaeos.
        </p>
      </div>
    </div>
  </div>
}

@if (currentLang === 'en') {
  <div class="partners-page-bottom">
    <div class="container">
      <div class="row g-0">
        <div class="col-12 text-center">
          <img [src]="'assets/img/partners/mail.png'" class="mb-5" />
          <h2 class="text-white mb-5">
            Do you want your employees to give you feedback to your courses? Why not create a Google form for example and let them tell you what they think of this new education method.
          </h2>
          <a class="btn btn-secondary">Education feedback</a>
        </div>
      </div>
    </div>
  </div>
}
