@use '../../../assets/scss/theme-config';

.auth-page {
  padding: 64px 90px;

  h2 {
    margin-bottom: 32px;
  }

  .register-box {
    text-align: center;
    margin: 40px auto;
  }

  .sso-box {
    text-align: center;
    .divider-or-block {
      height: 35px;
      line-height: 35px;
      border-top: 1px solid theme-config.$divider-color;
      border-bottom: 1px solid theme-config.$divider-color;
      background-color: theme-config.$login-page-divider-bg;
    }
  }
}

@media only screen and (max-width: 767px) {
  .auth-page {
    padding: 64px 20px;
  }
}
