@if (currentLang === 'cs') {
  <div class="team-page container">
    <h2 class="text-blue mb-5">O projektu</h2>
    <div class="row g-0 mb-5">
      <div class="col-12">
        <p>
          Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos hymenaeos. Integer malesuada.
        </p>
        <p>
          Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Maecenas sollicitudin. Vivamus porttitor turpis ac leo. Vivamus ac leo pretium
          faucibus.
        </p>
        <p>
          Nam quis nulla. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Morbi imperdiet, mauris ac auctor dictum, nisl ligula
          egestas nulla, et sollicitudin sem purus in lacus.
        </p>
      </div>
    </div>
    <h2 class="text-blue mb-5">O autorech</h2>
    <div class="row g-0 mb-5">
      <div class="col-12">
        <p class="mb-5">Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Aenean placerat. Nulla non arcu lacinia neque faucibus fringilla. Etiam quis quam.</p>
        <h3 class="mb-3">Educasoft Solutions</h3>
        <p>
          Vývoj kurzů technicky, graficky a konzultačně zajistila společnost Educasoft Solutions. Primárně vyvíjí e-learningové kurzy pro firmy a systémy pro správu školení a rozvoje zaměstnanců; část
          know-how a kapacit věnuje i oblasti neziskového sektoru.
        </p>
        <p><a href="https://www.educasoft.cz">www.educasoft.cz</a></p>
      </div>
    </div>
    <div class="row g-0 mb-5">
      <div class="col-12">
        <h3 class="mb-3">Na tvorbě kurzů se podíleli: </h3>
        <p>
          <strong>Autorky kurzu:</strong>
          <br />
          Barbora Ziková
        </p>
        <p>
          <strong>Projektový management:</strong>
          <br />
          Nikol Mrázková
          <br />
          Nikolas Soumar
        </p>
        <p>
          <strong>Vývoj portálu:</strong>
          <br />
          Petr Blšťák
        </p>
        <p>
          <strong>IT management:</strong>
          <br />
          Adam Broskevič
        </p>
        <p>
          <strong>Konzultace, produkce, design:</strong>
          <br />
          Barbora Ziková, Ekaterina Salomatova, Václav Formánek
        </p>
      </div>
    </div>
  </div>
}

@if (currentLang === 'en') {
  <div class="team-page container">
    <h2 class="text-blue mb-5">Project</h2>
    <div class="row g-0 mb-5">
      <div class="col-12">
        <p>
          Mauris suscipit, ligula sit amet pharetra semper, nibh ante cursus purus, vel sagittis velit mauris vel metus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per
          inceptos hymenaeos. Integer malesuada.
        </p>
        <p>
          Morbi imperdiet, mauris ac auctor dictum, nisl ligula egestas nulla, et sollicitudin sem purus in lacus. Maecenas sollicitudin. Vivamus porttitor turpis ac leo. Vivamus ac leo pretium
          faucibus.
        </p>
        <p>
          Nam quis nulla. Nullam feugiat, turpis at pulvinar vulputate, erat libero tristique tellus, nec bibendum odio risus sit amet ante. Morbi imperdiet, mauris ac auctor dictum, nisl ligula
          egestas nulla, et sollicitudin sem purus in lacus.
        </p>
      </div>
    </div>
    <h2 class="text-blue mb-5">Authors</h2>
    <div class="row g-0 mb-5">
      <div class="col-12">
        <p class="mb-5">Phasellus enim erat, vestibulum vel, aliquam a, posuere eu, velit. Aenean placerat. Nulla non arcu lacinia neque faucibus fringilla. Etiam quis quam.</p>
        <h3 class="mb-3">Educasoft Solutions</h3>
        <p>
          Vývoj kurzů technicky, graficky a konzultačně zajistila společnost Educasoft Solutions. Primárně vyvíjí e-learningové kurzy pro firmy a systémy pro správu školení a rozvoje zaměstnanců; část
          know-how a kapacit věnuje i oblasti neziskového sektoru.
        </p>
        <p><a href="https://www.educasoft.cz">www.educasoft.cz</a></p>
      </div>
    </div>
    <div class="row g-0 mb-5">
      <div class="col-12">
        <h3 class="mb-3">Courses & portal production: </h3>
        <p>
          <strong>Courses author:</strong>
          <br />
          Barbora Ziková
        </p>
        <p>
          <strong>Project management:</strong>
          <br />
          Nikol Mrázková
          <br />
          Nikolas Soumar
        </p>
        <p>
          <strong>Portal development:</strong>
          <br />
          Petr Blšťák
        </p>
        <p>
          <strong>IT management:</strong>
          <br />
          Adam Broskevič
        </p>
        <p>
          <strong>Consultations, production, design:</strong>
          <br />
          Barbora Ziková, Ekaterina Salomatova, Václav Formánek
        </p>
      </div>
    </div>
  </div>
}
