@use '../../../../assets/scss/theme-config' as base;
:host {
  display: block;
  max-width: 285px;
  width: 100%;
}
.card {
  border: none;
  border-radius: base.$card-border-radius;
  width: 100%;
  overflow: hidden;
  box-shadow: base.$card-shadow;
  min-height: 300px;

  .card-header {
    height: 187px;
    width: 100%;
    border-radius: 0;
    padding: 0;
    border-bottom: none;
    position: relative;
    .course-image {
      height: 187px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      cursor: pointer;
      &:hover {
        .img-overlay {
          display: block;
        }
      }

      img {
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
      }
    }

    .tags {
      position: absolute;
      top: 10px;
      left: 10px;
      display: flex;
      flex-direction: column;
      gap: 4px;
      align-items: flex-start;
    }

    .set-expand {
      position: absolute;
      top: 10px;
      right: 10px;
      display: none;
      background: rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      padding: 2px 4px;
    }

    &:hover {
      .set-expand {
        display: block;
      }
    }

    .item-requested {
      position: absolute;
      bottom: 10px;
      right: 10px;
      display: block;
      background: rgba(0, 0, 0, 0.15);
      border-radius: 8px;
      padding: 2px 4px 4px 2px;
    }
  }

  .card-mid {
    border-top: base.$card-simple-middle-bar-border-top;
    background: base.$card-simple-middle-bar-bg-color;
    height: base.$card-simple-middle-bar-height;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    .completion-block {
      margin: 0 20px 4px;
      height: 14px;
    }
  }

  .card-body {
    padding: 15px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 195px;
    justify-content: space-between;

    .item-name {
      margin-bottom: 5px;
      max-height: 50px;
      overflow: hidden;
      cursor: pointer;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      line-clamp: 2;
      -webkit-box-orient: vertical;
      text-overflow: ellipsis;

      &:hover {
        text-decoration: underline;
      }
    }

    .act-data {
      margin-top: auto;
      max-height: 55px;
      font-weight: 500;
      overflow: hidden;
      row-gap: 5px;
    }

    .course-not-playable {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 6px;
      padding-left: 12px;
      height: 44px;
      color: base.$general-text-color-disabled;
      cursor: help;
      user-select: none;

      .status-text {
        white-space: nowrap;
      }

      .info-icon {
        font-size: 20px;
        color: base.$general-text-color-disabled;
      }
    }

    &.link-body {
      background-color: base.$card-simple-link-bg;
      color: base.$card-simple-link-text;
      h2 {
        color: base.$card-simple-link-text;
      }

      .play-section {
        margin-top: auto;
        .btn {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 575px) {
  .card {
    .card-body {
      .card-line {
        min-height: 64px;
        height: auto;
        padding: 5px 20px;
        flex-direction: column;

        .btn {
          margin: 10px auto;
        }

        .act-name {
          padding-right: 0;
        }
      }
    }
  }
}
