<!-- <div class="container gdpr-page" *ngIf="currentLang === 'cs'"> -->
<div class="container gdpr-page">
  <h2 class="text-blue mb-5">Informace o zpracování osobních údajů</h2>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <p>Kontaktní údaje správce:</p>
      <table>
        <tr>
          <td>název:</td>
          <td>Educasoft Solutions s.r.o.</td>
        </tr>
        <tr>
          <td>sídlo:</td>
          <td>Nad Kazankou 649/46, Praha 7 - Troja, 171 00</td>
        </tr>
        <tr>
          <td>IČ:</td>
          <td>02867133</td>
        </tr>
        <tr>
          <td>DIČ:</td>
          <td>CZ02867133</td>
        </tr>
        <tr>
          <td>email:</td>
          <td>
            <a href="mailto:info@educasoft.cz">info&#64;educasoft.cz</a>
          </td>
        </tr>
        <tr>
          <td>telefon:</td>
          <td>+420 734 441 201</td>
        </tr>
        <tr>
          <td>web:</td>
          <td>
            <a href="https://www.educasoft.cz" target="_blank">www.educasoft.cz</a>
          </td>
        </tr>
      </table>

      <p class="mt-4">zapsána v OR vedeném u Městského soudu v Praze, oddíl C, vložka 108108, (dále jen „správce“).</p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">1. Úvodní ustanovení</h3>
      <p>
        Prohlášení o ochraně osobních údajů (dále také “GDPR”) jsou součástí Podmínek používání stránek a webové služby educasoft.cz. Toto prohlášení jsme vytvořili, abychom vás seznámili se způsobem,
        jakým při poskytování webové služby educasoft.cz shromažďujeme, používáme a chráníme vaše osobní data. O využívání souborů cookies se dočtete
        <a href="https://educasoft.competent.cz/web/pages/cookies">zde</a>
        .
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">2. Informace o ochraně osobních údajů</h3>
      <p>
        Společnost Educasoft Solutions s.r.o., se sídlem Nad Kazankou 46, Praha, 171 00 zapsaná v obchodním rejstříku vedeném Městským soudem v Praze, oddíl C, vložka 108108, jakožto zpracovatel
        osobních údajů, tímto informuje o rozsahu a způsobu zpracování osobních údajů.
      </p>
      <p>
        Výše uvedený správce zpracovává osobní údaje (dále také “OS”) v souladu s právem Evropské unie, zejména v souladu s Nařízením EU č. 2016/679 (GDPR), s článkem 5 odst. 1 Obecného nařízení a
        rovněž v souladu se zákonem č. 110/ 2019 Sb., zákona o zpracování osobních údajů.
      </p>
      <p><i>Vymezení užitých pojmů:</i></p>
      <p>
        <strong>Osobní údaj</strong>
        – osobním údajem je jakákoliv informace týkající se určeného nebo určitelného subjektu údajů. Subjekt údajů se považuje za určený nebo určitelný, jestliže lze subjekt údajů přímo či nepřímo
        identifikovat.
      </p>
      <p>
        <strong>Subjekt údajů</strong>
        – subjekt údajů je fyzická osoba, k níž se osobní údaje vztahují.
      </p>
      <p>
        <strong>Správce</strong>
        – správcem je každý subjekt, který určuje účel a prostředky zpracování osobních údajů, provádí zpracování a odpovídá za něj.
      </p>
      <p>
        <strong>Zpracovatel</strong>
        – zpracovatelem je každý subjekt, který na základě zvláštního zákona nebo pověření správcem zpracovává osobní údaje.
      </p>
      <p>
        <strong>Příjemce</strong>
        – příjemcem je každý subjekt, kterému jsou osobní údaje zpřístupněny. Za příjemce se nepovažuje subjekt, který osobní údaje zpracovává.
      </p>
      <p>
        <strong>Zpracování osobních údajů</strong>
        – zpracováním osobních údajů je jakákoliv operace nebo soustava operací, které správce nebo zpracovatel systematicky provádějí s osobními údaji, a to automatizovaně nebo jinými prostředky.
        Zpracováním se rozumí zejména shromažďování, ukládání na nosiče, informací, zpřístupňování, úprava nebo pozměňování, vyhledávání, používání, předávání, šíření, zveřejňování, uchovávání,
        výměna, třídění nebo kombinování, blokování a likvidace.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">3. Účel a rozsah zpracování</h3>
      <p>
        Správce zpracovává osobní údaje, které mu poskytl zákazník (dále jen „subjekt údajů“) nebo osobní údaje, které správce získal na základě plnění objednávky. Poskytnutí osobních údajů je
        nezbytné pro uzavření a plnění smlouvy, bez poskytnutí osobních údajů nelze smlouvu uzavřít či jí ze strany správce plnit. Správce zpracovává identifikační a kontaktní údaje a údaje nezbytné
        pro plnění smlouvy. Konkrétně se jedná o:
      </p>
      <ul>
        <li>Jméno, příjmení</li>
        <li>E-mailovou adresu</li>
        <li>Název instituce</li>
      </ul>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">4. Účelem zpracování osobních údajů a příjemci osobních údajů (dále jen “subdodavatelé”)</h3>
      <p>Správce zpracovává pouze přesné a aktuální údaje, a to pouze za stanoveným účelem:</p>
      <ul>
        <li>Zpracování je nezbytné pro splnění smlouvy</li>
        <li>Účetní a daňové účely</li>
        <li>Zajištění provozních činností</li>
      </ul>
      <p>Ze strany správce nedochází k automatickému individuálnímu rozhodování ve smyslu čl. 22 GDPR. S takovým zpracováním jste poskytl/a svůj výslovný souhlas.</p>
      <p>
        Subdodavatelé jsou osoby podílející se na dodání služby (dále jen “placeného obsahu”) a realizaci plateb GoPay. Samotná platba probíhá přes platební bránu společnosti GoPay s.r.o. Veškeré
        informace o platebních metodách a podmínkách plateb a ochraně osobních údajů jsou uvedeny
        <a
          href="https://help.gopay.com/cs/tema/cenik-a-obchodni-podminky/aktualni-cenik-a-obchodni-podminky/pravidla-ochrany-soukromi-a-zpracovani-osobnich-udaju/pravidla-ochrany-soukromi-ucinnost-od-1-4-2021"
          target="_blank">
          zde
        </a>
        .
      </p>

      <p>
        Správce nemá v úmyslu předat osobní údaje do třetí země (do země mimo EU) nebo mezinárodní organizaci. Příjemci osobních údajů ve třetích zemích jsou poskytovatelé mailingových služeb /
        cloudových služeb.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">5. Práva subjektu údajů</h3>
      <p>
        Subjekt údajů je oprávněn požadovat informaci o zpracování svých osobních údajů a o účelu zpracování, rozsahu zpracování, kategoriích osobních údajů, které jsou předmětem zpracování, o
        zpracovatelích, o příjemcích osobních údajů.
      </p>
      <ul>
        <li>
          Právo na přístup ke svým osobním údajům, které správce zpracovává – jedná se o možnost získat od správce informace, zda osobní údaje, které se subjektu týkají, jsou či nejsou zpracovávány.
        </li>
        <li>
          Právo na vysvětlení – v případě, že se subjekt údajů domnívá, že správce provádí zpracování, které je v rozporu s ochranou soukromého a osobního života subjektu údajů nebo v rozporu se
          zákonem.
        </li>
        <li>Právo na opravu – v případě, kdy se subjekt údajů domnívá, že správce zpracovává osobní údaje nepřesné nebo nesprávně.</li>
        <li>Právo na vymazání osobních údajů – platí v případech, které jsou vymezeny v čl. 17 GDPR.</li>
        <li>Právo na omezení zpracování údajů – platí v případech, které jsou stanoveny v čl. 18 GDPR</li>
        <li>
          Právo vznést námitku proti zpracování – v takovém případě nebudou osobní údaje dále zpracovávány, pokud nebudou dány závažné oprávněné důvody pro zpracování, které převáží nad zájmy subjektu
          nebo jeho právy a svobodami, nebo pokud nebudou zpracovávány pro určení, výkon nebo obhajobu právních nároků. Lze vznést prostřednictvím kontaktních údajů uvedených výše.
        </li>
        <li>Právo na přenositelnost údajů.</li>
        <li>Subjekt údajů má právo kdykoliv se obrátit na dozorový orgán, kterým je Úřad pro ochranu osobních údajů se sídlem Pplk. Sochora 27, 170 00 Praha 7.</li>
      </ul>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">6. Doba uchovávání údajů</h3>
      <p>
        Správce uchovává osobní údaje po dobu nezbytnou k výkonu práv a povinností vyplývajících ze smluvního vztahu mezi Vámi a správcem a uplatňování nároků z těchto smluvních vztahů (po dobu 15 let
        od ukončení smluvního vztahu). Po uplynutí doby uchovávání osobních údajů správce osobní údaje vymaže.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">7. Práva subjektu údajů</h3>
      <p>Správce přijal veškerá vhodná technická a organizační opatření k zabezpečení osobních údajů. Správce prohlašuje, že k osobním údajům mají přístup jen osoby jím pověřené.</p>
      <p>Technická opatření k zabezpečení osobních údajů:</p>
      <ul>
        <li>Silné heslování</li>
        <li>Šifrování</li>
        <li>Uzamčení fyzických dokumentů s OS.</li>
        <li>Antivirový program</li>
      </ul>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">8. Závěrečná ustanovení</h3>
      <p>
        S těmito podmínkami souhlasíte zaškrtnutím souhlasu prostřednictvím internetového formuláře na
        <a href="https://educasoft.competent.cz" target="_blank">educasoft.competent.cz</a>
        . Zaškrtnutím souhlasu potvrzujete, že jste seznámeni s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.
      </p>
      <p>Odesláním objednávky z internetového objednávkového formuláře potvrzujete, že jste seznámeni s podmínkami ochrany osobních údajů a že je v celém rozsahu přijímáte.</p>
      <p>Správce nemá pověřence pro ochranu osobních údajů, neboť to s ohledem na rozsah a způsob zpracování není ze zákona nezbytné.</p>
      <p>Správce je oprávněn tyto podmínky změnit. Novou verzi podmínek ochrany osobních údajů zveřejní na svých internetových stránkách.</p>
    </div>
  </div>
</div>
