<!-- <div class="container conditions-page" *ngIf="currentLang === 'cs'"> -->
<div class="container conditions-page">
  <h2 class="text-blue mb-5">Podmínky používání stránek a webové služby</h2>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <table>
        <tr>
          <td>Název:</td>
          <td>Educasoft Solutions s.r.o.</td>
        </tr>
        <tr>
          <td>Sídlo:</td>
          <td>Nad Kazankou 649/46, Praha 7 - Troja, 171 00</td>
        </tr>
        <tr>
          <td>IČ:</td>
          <td>02867133</td>
        </tr>
        <tr>
          <td>DIČ:</td>
          <td>CZ02867133</td>
        </tr>
      </table>

      <p class="mt-4">zapsána v OR vedeném u Městského soudu v Praze, oddíl C, vložka 108108, (dále jen „správce“).</p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">1. Úvodní ustanovení</h3>
      <p>
        Tento dokument určuje, kdo je provozovatelem a vlastníkem stránek
        <a href="https://educasoft.competent.cz" target="_blank">educasoft.competent.cz</a>
        (dále také jen „stránky“), co je jejich cílem a jaká jsou práva a povinnosti provozovatele a návštěvníků těchto stánek. Podmínky dále určují pravidla používání webové služby educasoft.cz,
        která je poskytována přes webové rozhraní na těchto stránkách.
      </p>
      <p>
        Prohlášení o ochraně osobních údajů naleznete
        <a href="https://educasoft.competent.cz/web/pages/gdpr">zde</a>
        .
      </p>
      <p>
        Prohlášení k souborům Cookies je možné shlédnout
        <a href="https://educasoft.competent.cz/web/pages/cookies">zde</a>
        .
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">2. Způsob poskytování služby</h3>
      <p>
        Služba je poskytována tak, jak je a to prostřednictvím veřejné sítě Internet výhradně na riziko uživatele s dostupností, která je aktuálně k dispozici. Vzhledem k těmto skutečnostem nemůže
        poskytovatel vždy zaručit, že služba bude k dispozici nepřetržitě a bez problémů.
      </p>
      <p>
        Stránky v současné době podporují prohlížeče Google Chrome, Mozilla Firefox nebo Opera v jejich nejnovější dostupné verzi. Pro bezproblémové fungování služby doporučujeme používat tyto
        prohlížeče.
      </p>
      <p>Poskytovatel nemá nárok na jiné využívání obsahu, který byl nahrán do systému či vytvořený uživatelem v rámci systému, než pro analýzu využívání systému.</p>
      <p>Poskytovatel si vyhrazuje právo kdykoliv ukončit přístup k demoverzi bez předchozího ohlášení a tím pádem i smazat veškerá data uložená skrze demoverzi a to bez náhrady.</p>
      <p>
        Poskytovatel nepřebírá odpovědnost za data nahraná uživatelem. Poskytovatel není dále odpovědný za cizí obsah umístěný na stránkách, pokud mu tento obsah není znám, nebo pro něj není technicky
        možné a únosné jeho užívání zabránit. Tímto obsahem je zejména obsah internetových stránek patřících třetím subjektům, které lze navštívit prostřednictvím stránek Poskytovatele, odkazy na
        stránky třetích osob umístěné na stránkách Poskytovatele a dále reklama, popř. jiná forma propagace prováděnou třetím subjektem prostřednictvím stránek Poskytovatele.
      </p>
      <p>
        Přístup na stránky může být ze strany Poskytovatele úplně či částečně podmíněn poskytnutím některých osobních údajů uživatele ve smyslu zákona č. 110/2019 Sb,. o zpracování osobních údajů.
        Provozovatel se zavazuje s těmito údaji nakládat v souladu s platnými právními předpisy a užívat je pouze v rozsahu nezbytném pro naplnění účelu, pro který jsou osobní údaje získávány a vždy
        tak, aby zamezil jakékoliv újmě osoby, které se údaje týkají.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">3. Nepovolené způsoby používání služby</h3>
      <p>Nemáte-li k tomu písemné povolení od poskytovatele, je zakázána jakákoliv manipulace a stahování dat pomocí automatizovaných nástrojů.</p>
      <p>Bez písemného povolení poskytovatele, nesmíte přistupovat k multimediálním obsahům jinak než pomocí samotné služby.</p>
      <p>Je zakázáno kopírování jakékoliv části obsahu, vzhledu či programového kódu stránek.</p>
      <p>
        Uživatel se zavazuje, že při používání služby bude řídit platnými právními předpisy České republiky, bude vždy jednat v souladu s dobrými mravy, pravidly poctivého obchodního styku a s těmito
        Podmínkami, nebude jakkoli poškozovat dobré jméno a práva Poskytovatele ani ostatních uživatelů.
      </p>
      <p>Není-li uvedeno jinak, slouží veškeré komunikační prostředky v rámci služby potřebám služby. Není tedy povoleno je využívat k jiným účelům.</p>
      <p>
        Ve v7ukové části služby jsou zakázány jakékoliv formy podvádění. Podváděním se rozumí zejména používání více než jednoho uživatelského účtu a čerpání výhod z tohoto stavu a dále nestandardní
        upravování dat odesílaných na server poskytovatele.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">4. Postih za nepovolené chování</h3>
      <p>
        Jednotlivá porušení těchto podmínek budou posuzována dle své závažnosti. Drobné prohřešky budou napoprvé řešeny výstrahou. Při opakovaném nepovoleném chování či při významném porušení těchto
        podmínek si poskytovatel vyhrazuje právo uživatelský účet zrušit případně zakázat přístup do služby z příslušné IP adresy. Pokud poskytovatel usoudí, že je uživatelovo chování v rozporu s
        platnými právními předpisy, předá celou záležitost příslušným orgánům činným v trestním řízení.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">5. Registrace a uživatelský účet</h3>
      <p>
        Uživatel přistupuje ke službě pomocí svého uživatelského účtu. Uživatelský účet je vytvořen po vyplnění registračního formuláře uživatelem, který si sám zvolí své přístupové údaje.
        Poskytovatel nenese odpovědnost za neoprávněné vniknutí do služby v důsledku zneužití uživatelského jména a hesla při nedostatečném zabezpečení těchto údajů uživatelem.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">6. Informační a obchodní sdělení</h3>
      <p>
        Pakliže uživatel souhlasí se zasíláním informačních a obchodních sdělení, může poskytovatel zasílat uživateli obchodní sdělení. Uživatel může kdykoliv odhlásit odběr obchodních sdělení
        zasláním e-mailu s předmětem „nechci obchodní sdělení“ na adresu
        <a href="mailto:info@educasoft.cz">info&#64;educasoft.cz</a>
        , případně dalším způsobem, s nímž bude seznámen v samotném obchodním sdělení.
      </p>
      <p>Poskytovatel nesmí poskytnout takto získané údaje žádné třetí straně.</p>
      <p>Podmínky používání stránek je oprávněn měnit či doplňovat pouze poskytovatel.</p>
      <p>
        Poskytovatel stránek si vyhrazuje právo podle vlastního uvážení tyto podmínky kdykoliv měnit, upravovat, přidávat či odstraňovat části těchto podmínek, a to i bez předchozího upozornění.
        Jakékoli takové úpravy jsou pro uživatele závazné. Uživatel je povinen se pravidelně seznamovat se změnami těchto podmínek. Přístupem ke stránkám a jejich prohlížením uživatel s podmínkami i
        jejich případnými změnami bezvýhradně souhlasí.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">7. Omezení odpovědnosti poskytovatele</h3>
      <p>
        Poskytovatel negarantuje, že demoverze
        <a href="https://educasoft.competent.cz" target="_blank">educasoft.competent.cz</a>
        bude vždy obsahovat správné informace. Poskytovatel není odpovědný za případné škody vzniklé v důsledku těchto chyb.
      </p>
    </div>
  </div>

  <div class="row g-0 mb-5">
    <div class="col-12">
      <h3 class="mb-3">8. Závěrečná ustanovení</h3>
      <p>Tyto podmínky používání stránek a webové služby jsou platné od 21. 1. 2019 a ruší platnost všech předchozích podmínek.</p>
    </div>
  </div>
</div>
